	PUSHF 0.0
	PUSHF 0.0
	PUSHF 0.0
	PUSHF 0.0
	PUSHN 1
START
	PUSHS "L1: "
	WRITES
	READ
	STOREG 4
	PUSHS "L2: "
	WRITES
	READ
	ATOI
	ITOF
	STOREG 1
	PUSHS "L3: "
	WRITES
	READ
	ATOF
	STOREG 2
	PUSHS "L4: "
	WRITES
	READ
	ATOF
	STOREG 3
	PUSHG 4
	ATOF
	STOREG 0
	PUSHN 1
	PUSHN 1
	PUSHG 3
	PUSHG 2
	PUSHG 1
	PUSHG 0
	PUSHA test
	CALL
	NOP
	POP 5
	PUSHI 1
	EQUAL
	JZ COND02FS40
	PUSHG 0
	STRF
	PUSHS "ES CUADRADO DE LADO: "
	CONCAT
	WRITES
	PUSHS "\n"
	WRITES

ENDCOND02FS40: NOP
	STOP

test: NOP
	PUSHL -1
	PUSHL -2
	EQUAL
	PUSHL -2
	PUSHL -3
	EQUAL
	ADD
	PUSHI 2
	EQUAL
	PUSHL -3
	PUSHL -4
	EQUAL
	ADD
	PUSHI 2
	EQUAL
	JZ COND00RP10
	PUSHI 1
	STOREL -5

ENDCOND00RP10: NOP
	PUSHL -5
	STOREL -6
	RETURN

COND00RP10: NOP
	PUSHI 0
	STOREL -5
	JUMP ENDCOND00RP10

COND02FS40: NOP
	PUSHS "NO ES CUADRADO"
	WRITES
	PUSHS "\n"
	WRITES
	JUMP ENDCOND02FS40
