	PUSHF 0.0
START
	PUSHN 1
	PUSHF 0.0
	PUSHF 0.0
	PUSHF 0.0
	PUSHF 0.0
	PUSHF 0.0
	PUSHA calculaDistancia
	CALL
	NOP
	POP 5
	STOREG 0
	PUSHG 0
	WRITEF
	PUSHS "\n"
	WRITES
	STOP

dist: NOP
	PUSHF 0.0
	PUSHF 0.5
	PUSHF 1.0
	PUSHI 2
	PUSHL -1
	PUSHL -2
	FSUB
	PUSHA SYSPOTENCIA
	CALL
	NOP
	POP 2
	PUSHF 1.0
	PUSHI 2
	PUSHL -3
	PUSHL -4
	FSUB
	PUSHA SYSPOTENCIA
	CALL
	NOP
	POP 2
	FADD
	PUSHA SYSPOTREAL
	CALL
	NOP
	POP 2
	STOREL -5
	PUSHL -5
	STOREL -6
	RETURN

SYSPOTENCIA: NOP
  WHILEPOTENCIA: NOP
	PUSHL -2
	PUSHI 0
	SUP
	JZ ENDWHILEPOTENCIA
	PUSHL -3
	PUSHL -1
	FMUL
	STOREL -3
	PUSHL -2
	PUSHI 1
	SUB
	STOREL -2
	JUMP WHILEPOTENCIA
  ENDWHILEPOTENCIA: NOP
	RETURN

SYSLN: NOP
	PUSHI 1
	STOREL -2
FORSYSLN: NOP
	PUSHL -2
	PUSHI 50
	INF
	JZ ENDFORSYSLN
	PUSHL -3
	PUSHI 1
	ITOF
	PUSHL -2
	ITOF
	FDIV
	PUSHF 1.0
	PUSHL -2
	PUSHI 1
	ITOF
	PUSHI 1
	ITOF
	PUSHL -1
	FDIV
	FSUB
	PUSHA SYSPOTENCIA
	CALL
	NOP
	POP 2
	FMUL
	FADD
	STOREL -3
	PUSHL -2
	PUSHI 1
	ADD
	STOREL -2
	JUMP FORSYSLN
ENDFORSYSLN: NOP
	RETURN

SYSEXP: NOP
FORSYSEXP: NOP
	PUSHL -2
	PUSHI 13
	INF
	JZ ENDFORSYSEXP
	PUSHL -3
	PUSHF 1.0
	PUSHL -2
	PUSHL -1
	PUSHA SYSPOTENCIA
	CALL
	NOP
	POP 2
	PUSHI 1
	PUSHL -2
	PUSHA SYSFACTORIAL
	CALL
	NOP
	POP 1
	ITOF
	FDIV
	FADD
	STOREL -3
	PUSHL -2
	PUSHI 1
	ADD
	STOREL -2
	JUMP FORSYSEXP

ENDFORSYSEXP: NOP
	RETURN

SYSPOTREAL: NOP
	PUSHF 0.0
	PUSHN 1
	PUSHL -2
	PUSHF 0.0
	PUSHN 1
	PUSHL -1
	PUSHA SYSLN
	CALL
	NOP
	POP 2
	FMUL
	PUSHA SYSEXP
	CALL
	NOP
	POP 2
	STOREL -3
	RETURN
SYSFACTORIAL: NOP
  WHILEFACTORIAL: NOP
	PUSHL -1
	PUSHI 1
	SUP
	JZ ENDWHILEFACTORIAL
	PUSHL -2
	PUSHL -1
	MUL
	STOREL -2
	PUSHL -1
	PUSHI 1
	SUB
	STOREL -1
	JUMP WHILEFACTORIAL
ENDWHILEFACTORIAL: NOP
	RETURN

calculaDistancia: NOP
	PUSHS "x1: "
	WRITES
	READ
	ATOF
	STOREL -1
	PUSHS "x2: "
	WRITES
	READ
	ATOF
	STOREL -2
	PUSHS "y1: "
	WRITES
	READ
	ATOF
	STOREL -3
	PUSHS "y2: "
	WRITES
	READ
	ATOF
	STOREL -4
	PUSHN 1
	PUSHF 0.0
	PUSHL -4
	PUSHL -3
	PUSHL -2
	PUSHL -1
	PUSHA dist
	CALL
	NOP
	POP 5
	STOREL -5
	PUSHL -5
	STOREL -6
	RETURN
