	PUSHF 0.0
START
	PUSHN 1
	PUSHN 1
	PUSHF 0.0
	PUSHS "x: "
	WRITES
	READ
	ATOF
	PUSHA expo
	CALL
	NOP
	POP 3
	STOREG 0
	PUSHG 0
	WRITEF
	PUSHS "\n"
	WRITES
	STOP

expo: NOP
	PUSHI 0
	STOREL -2
	PUSHF 0.0
	STOREL -3

FOR67MZ80: NOP
	PUSHL -2
	PUSHI 13
	INF
	JZ ENDFOR67MZ80
	PUSHL -3
	PUSHF 1.0
	PUSHL -2
	PUSHL -1
	PUSHA SYSPOTENCIA
	CALL
	NOP
	POP 2
	PUSHI 1
	PUSHL -2
	PUSHA SYSFACTORIAL
	CALL
	NOP
	POP 1
	ITOF
	FDIV
	FADD
	STOREL -3
	PUSHL -2
	PUSHI 1
	ADD
	STOREL -2
	JUMP FOR67MZ80

ENDFOR67MZ80: NOP
	PUSHL -3
	STOREL -4
	RETURN

SYSPOTENCIA: NOP
  WHILEPOTENCIA: NOP
	PUSHL -2
	PUSHI 0
	SUP
	JZ ENDWHILEPOTENCIA
	PUSHL -3
	PUSHL -1
	FMUL
	STOREL -3
	PUSHL -2
	PUSHI 1
	SUB
	STOREL -2
	JUMP WHILEPOTENCIA
  ENDWHILEPOTENCIA: NOP
	RETURN

SYSFACTORIAL: NOP
  WHILEFACTORIAL: NOP
	PUSHL -1
	PUSHI 1
	SUP
	JZ ENDWHILEFACTORIAL
	PUSHL -2
	PUSHL -1
	MUL
	STOREL -2
	PUSHL -1
	PUSHI 1
	SUB
	STOREL -1
	JUMP WHILEFACTORIAL
ENDWHILEFACTORIAL: NOP
	RETURN
