	PUSHN 1
START
	PUSHI 5
	STOREG 0
	PUSHN 1
	PUSHN 1
	PUSHS "N: "
	WRITES
	READ
	ATOI
	PUSHA factorial
	CALL
	NOP
	POP 2
	WRITEI
	PUSHS "\n"
	WRITES
	STOP

factorial: NOP
	PUSHI 1
	STOREL -2

WHILE20QP50: NOP
	PUSHL -1
	PUSHI 1
	SUP
	JZ ENDWHILE20QP50
	PUSHL -2
	PUSHL -1
	MUL
	STOREL -2
	PUSHL -1
	PUSHI 1
	SUB
	STOREL -1
	JUMP WHILE20QP50

ENDWHILE20QP50: NOP
	PUSHL -2
	STOREL -3
	RETURN

