	PUSHN 5
START
	PUSHI 0
	STOREG 1
	PUSHS "min: "
	WRITES
	READ
	ATOI
	STOREG 2
	PUSHS "max: "
	WRITES
	READ
	ATOI
	STOREG 3
	PUSHG 2
	STOREG 4

FOR92HB20: NOP
	PUSHG 4
	PUSHG 3
	INF
	JZ ENDFOR92HB20
	PUSHG 4
	PUSHI 2
	MOD
	PUSHI 0
EQUAL	NOT
	JZ C92XP20
	PUSHG 1
	PUSHI 1
	ADD
	STOREG 1
	PUSHG 4
	WRITEI
	PUSHS " "
	WRITES

C92XP20: NOP
	PUSHG 4
	PUSHI 1
	ADD
	STOREG 4
	JUMP FOR92HB20

ENDFOR92HB20: NOP
	PUSHS "\nCOUNT: "
	WRITES
	PUSHS " "
	WRITES
	PUSHG 1
	WRITEI
	PUSHS "\n"
	WRITES
	STOP

