SYSLN: NOP\n\tPUSHI 1\n\tSTOREL -2\nFORSYSLN: NOP\n\tPUSHL -2\n\tPUSHI 20\n\tINF\n\tJZ ENDSYSLN\n\tPUSHL -3\n\tPUSHI 1\n\tITOF\n\tPUSHL -2\n\tITOF\n\tFDIV\n\tPUSHF 1.0\n\tPUSHL -2\n\tPUSHI 1\n\tITOF\n\tPUSHI 1\n\tITOF\n\tPUSHL -1\n\tFDIV\n\tFSUB\n\tPUSHA SYSPOTENCIA\n\tCALL\n\tNOP\n\tPOP 2\n\tFMUL\n\tFADD\n\tSTOREL -3\n\tPUSHL -2\n\tPUSHI 1\n\tADD\n\tSTOREL -2\n\tJUMP FORSYSLN\nENDFORSYSLN: NOP\n\tRETURN\n