	PUSHF 0.0
START
	PUSHN 1
	PUSHN 1
	PUSHF 0.0
	PUSHS "X: "
	WRITES
	READ
	ATOF
	PUSHA log
	CALL
	NOP
	POP 3
	STOREG 0
	PUSHG 0
	WRITEF
	PUSHS "\n"
	WRITES
	STOP

log: NOP
	PUSHF 0.0
	STOREL -2
	PUSHI 1
	STOREL -3

FOR20PV70: NOP
	PUSHL -3
	PUSHI 20
	INF
	JZ ENDFOR20PV70
	PUSHL -2
	PUSHI 1
	ITOF
	PUSHL -3
	ITOF
	FDIV
	PUSHF 1.0
	PUSHL -3
	PUSHI 1
	ITOF
	PUSHI 1
	ITOF
	PUSHL -1
	FDIV
	FSUB
	PUSHA SYSPOTENCIA
	CALL
	NOP
	POP 2
	FMUL
	FADD
	STOREL -2
	PUSHL -2
	WRITEF
	PUSHS "\n"
	WRITES
	PUSHL -3
	PUSHI 1
	ADD
	STOREL -3
	JUMP FOR20PV70

ENDFOR20PV70: NOP
	PUSHL -2
	STOREL -4
	RETURN

SYSPOTENCIA: NOP
  WHILEPOTENCIA: NOP
	PUSHL -2
	PUSHI 0
	SUP
	JZ ENDWHILEPOTENCIA
	PUSHL -3
	PUSHL -1
	FMUL
	STOREL -3
	PUSHL -2
	PUSHI 1
	SUB
	STOREL -2
	JUMP WHILEPOTENCIA
  ENDWHILEPOTENCIA: NOP
	RETURN
