	PUSHN 4
START
	PUSHI 1
	STOREG 1
	PUSHS "N: "
	WRITES
	READ
	ATOI
	STOREG 0
	PUSHS "val: "
	WRITES
	READ
	ATOI
	STOREG 2
	PUSHG 2
	STOREG 3

FOR74RC10: NOP
	PUSHG 1
	PUSHG 0
	INF
	JZ ENDFOR74RC10
	PUSHS "val: "
	WRITES
	READ
	ATOI
	STOREG 2
	PUSHG 2
	PUSHG 3
	INF
	JZ C74CD10
	PUSHG 2
	STOREG 3

C74CD10: NOP
	PUSHG 1
	PUSHI 1
	ADD
	STOREG 1
	JUMP FOR74RC10

ENDFOR74RC10: NOP
	PUSHG 3
	WRITEI
	PUSHS "\n"
	WRITES
	STOP

