	PUSHN 4
START
	PUSHI 1
	STOREG 1
	PUSHS "N: "
	WRITES
	READ
	ATOI
	STOREG 0
	PUSHS "val: "
	WRITES
	READ
	ATOI
	STOREG 2
	PUSHG 2
	STOREG 3

FOR49OC60: NOP
	PUSHG 1
	PUSHG 0
	INF
	JZ ENDFOR49OC60
	PUSHS "val: "
	WRITES
	READ
	ATOI
	STOREG 2
	PUSHG 2
	PUSHG 3
	INF
	JZ C49VZ60
	PUSHG 2
	STOREG 3

C49VZ60: NOP
	PUSHG 1
	PUSHI 1
	ADD
	STOREG 1
	JUMP FOR49OC60

ENDFOR49OC60: NOP
	PUSHG 3
	WRITEI
	PUSHS "\n"
	WRITES
	STOP

