	PUSHF 0.0
START
	PUSHN 1
	PUSHN 2
	PUSHF 0.0
	PUSHI 2
	ITOF
	PUSHI 1
	PUSHA potencia
	CALL
	NOP
	POP 5
	STOREG 0
	PUSHG 0
	WRITEF
	PUSHS "\n"
	WRITES
	STOP

aux: NOP
	PUSHI 1
	PUSHL -2
	PUSHL -1
	PUSHA SYSPOTENCIA
	CALL
	NOP
	POP 2
	STOREL -3
	PUSHL -3
	STOREL -4
	RETURN

SYSPOTENCIA: NOP
  WHILEPOTENCIA: NOP
	PUSHL -2
	PUSHI 0
	SUP
	JZ ENDWHILEPOTENCIA
	PUSHL -3
    	PUSHL -1
	FMUL
	STOREL -3
	PUSHL -2
	PUSHI 1
	SUB
	STOREL -2
	JUMP WHILEPOTENCIA
  ENDWHILEPOTENCIA: NOP
	RETURN

potencia: NOP
	PUSHS "base: "
	WRITES
	READ
	ATOI
	STOREL -3
	PUSHS "expoente: "
	WRITES
	READ
	ATOI
	STOREL -4
	PUSHN 1
	PUSHF 0.0
	PUSHL -4
	PUSHL -3
	ITOF
	PUSHA aux
	CALL
	NOP
	POP 3
	STOREL -5
	PUSHL -5
	STOREL -6
	RETURN

