	PUSHN 2
	PUSHF 0.0
	PUSHF 0.0
START
	PUSHI 0
	STOREG 1
	PUSHF 1.0
	STOREG 2
	PUSHS "N: "
\WRITES
	READ
	ATOI
	STOREG 0

FOR79NY10: NOP
	PUSHG 1
	PUSHG 0
	INF
	JZ ENDFOR79NY10
	PUSHS ": "
	PUSHG 1
	PUSHI 1
	ADD
	STRI
	PUSHS "val "
	CONCAT
	CONCAT
\WRITES
	READ
	ATOF
	STOREG 3
	PUSHG 2
	PUSHG 3
	FMUL
	STOREG 2
	PUSHG 1
	PUSHI 1
	ADD
	STOREG 1
	JUMP FOR79NY10

ENDFOR79NY10: NOP
	PUSHG 2
	WRITEF
	PUSHS "\n"
	WRITES
	STOP

