	PUSHN 1
START
	PUSHI 1
	PUSHS "N: "
	WRITES
	READ
	ATOI
	PUSHA SYSFACTORIAL
	CALL
	NOP
	POP 1
	STOREG 0
	PUSHG 0
	WRITEI
	PUSHS "\n"
	WRITES
	STOP

SYSFACTORIAL: NOP
  WHILEFACTORIAL: NOP
	PUSHL -1
	PUSHI 1
	SUP
	JZ ENDWHILEFACTORIAL
	PUSHL -2
	PUSHL -1		MUL
	STOREL -2
	PUSHL -1
	PUSHI 1
	SUB
	STOREL -1
	JUMP WHILEFACTORIAL
ENDWHILEFACTORIAL: NOP
	RETURN

