	PUSHF 0.0
	PUSHF 0.0
	PUSHN 1
START
	PUSHS "X: "
	WRITES
	READ
	ATOF
	STOREG 1
	PUSHS "Exponente:"
	WRITES
	READ
	ATOI
	STOREG 2
	PUSHF 1.0
	PUSHG 2
	PUSHI 1
	PUSHG 2
	DIV
	ITOF
	PUSHI 1
	ITOF
	PUSHI 1
	ITOF
	PUSHG 1
	FDIV
	FSUB
	FMUL
	PUSHA SYSPOTENCIA
	CALL
	NOP
	POP 2
	STOREG 0
	PUSHG 0
	WRITEF
	PUSHS "\n"
	WRITES
	STOP

SYSPOTENCIA: NOP
  WHILEPOTENCIA: NOP
	PUSHL -2
	PUSHI 0
	SUP
	JZ ENDWHILEPOTENCIA
	PUSHL -3
	PUSHL -1
	FMUL
	STOREL -3
	PUSHL -2
	PUSHI 1
	SUB
	STOREL -2
	JUMP WHILEPOTENCIA
  ENDWHILEPOTENCIA: NOP
	RETURN
