	PUSHF 0.0
START
	PUSHF 1.0
	PUSHS "Exponente:"
	WRITES
	READ
	ATOI
	PUSHI 1
	ITOF
	PUSHI 1
	ITOF
	PUSHS "Base: "
	WRITES
	READ
	ATOF
	FDIV
	FSUB
	PUSHA SYSPOTENCIA
	CALL
	NOP
	POP 2
	STOREG 0
	PUSHG 0
	WRITEF
	PUSHS "\n"
	WRITES
	STOP

SYSPOTENCIA: NOP
  WHILEPOTENCIA: NOP
	PUSHL -2
	PUSHI 0
	SUP
	JZ ENDWHILEPOTENCIA
	PUSHL -3
	PUSHL -1
	FMUL
	STOREL -3
	PUSHL -2
	PUSHI 1
	SUB
	STOREL -2
	JUMP WHILEPOTENCIA
  ENDWHILEPOTENCIA: NOP
	RETURN
